@font-face {
  font-family: KeepWeb;
  src: url("../webfonts/keep-web.woff");
}
.keep-letra-b:before{
    content:"B";
    font-family: KeepWeb;
}
.keep-check:before{
    content:"\2713";
    font-family: KeepWeb;
}
.keep-lista-servicios li {
    text-indent: -0.7em;
}
.keep-lista-servicios li::before {
  content: "• "; /* Insert content that looks like bullets */
}

